:root {
  --primary-color: #217C73;
  --secondary-color: #FFFF00;
  --dark-color: #292929;
  --white-color: #dff3e4;
}

body {
  color: var(--dark-color);
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

footer {
  background-color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  padding-right: 1rem;
}

footer .social > a {
  color: var(--white-color);
  opacity: 0.75;
}

footer .social > a:hover {
  opacity: 0.9;
  color: var(--secondary-color);
}

.tryButton {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.tryButton:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.checkItBtn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.checkItBtn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.logoFont {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.customBorderBottom {
  border-bottom: 1px solid var(--dark-color) !important;
}

.border-end {
  border-right: 1px solid var(--dark-color) !important;
}

.bsicon {
  color: #6f42c1;
}

.jsicon {
  color: #f7df1e;
}

.html5icon {
  color: orangered;
}

.cssicon {
  color: rgb(11, 82, 214);
}

.checklist > li i {
  color: var(--dark-color);
}

code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap;

  word-break: break-all;

  word-wrap: break-word;

  font-size: 1.5rem;
}

main > .container {
  padding: 60px 15px 0;
}
